
<%- include('../partials/header')  %> 
<%- include('../partials/navbar') %>


<main class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="display-6">New TechBlog</h1>
         <form action="/blogs" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="Blog Title">
                </div>
                <div class="mb-3">
                    <label for="img" class="form-label">Image Url</label>
                    <input type="text" name="img" id="img" placeholder="Image Url" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" class="form-control" name="date" placeholder="Date" id="date">
                </div>
                <div class="mb-3">
                    <label for="desc" class="form-label">Description</label>
                    <textarea name="desc" id="desc" rows="5" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-success btn-small">Submit</button>
             </form>
      </div>  
    </div>
</main>


<%- include('../partials/footer') %> 